In [2]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
cast=pd.read_csv("cast.csv")
title=pd.read_csv("titles.csv")
release=pd.read_csv("release_dates.csv")

In [3]:
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [4]:
release.head()

                    title  year      country        date
0   #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                   #BKKY  2016     Cambodia  2017-10-12
2                 #Beings  2015      Romania  2015-01-29
3               #Captured  2017          USA  2017-09-05
4  #Ewankosau saranghaeyo  2015  Philippines  2015-01-21

In [5]:

title.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

### How many movies are listed in the titles dataframe?

In [6]:
title.count(axis=0)

title    244914
year     244914
dtype: int64

In [7]:
x=title["title"].unique()
x

array(['Tasveer Mere Sanam', 'Only You', 'El pueblo del terror', ...,
       'Nippon dabi katsukyu', 'Under Siege 2: Dark Territory',
       'She Must Be Seeing Things'], dtype=object)

### What are the earliest two films listed in the titles dataframe?

In [8]:
new=title.sort_values("year")
new.head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [9]:
title[title["title"]=="Hamlet"].title.value_counts()

Hamlet    20
Name: title, dtype: int64

### How many movies are titled "North by Northwest"?

In [10]:
title[title["title"]=="North by Northwest"].title.value_counts()

North by Northwest    1
Name: title, dtype: int64

### When was the first movie titled "Hamlet" made?

In [11]:
title[title["title"]=="Hamlet"].year.value_counts()

2015    1
2014    1
2017    1
1954    1
1987    1
1996    1
1990    1
1964    1
2000    1
1969    1
2009    1
1973    1
1910    1
1911    1
1976    1
1913    1
1921    1
2011    1
1948    1
2016    1
Name: year, dtype: int64

In [12]:
z=title[title["title"]=="Hamlet"]
z.year.min()

1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [13]:
newr=release[release["title"]=="Treasure Island"]
newr
newc=cast[cast["title"]=="Treasure Island"]
p=newc.sort_values("year")
p.head()

,title,year,name,type,character,n
860800,Treasure Island,1918,Charles Gorman,actor,Prologue Player,NaN
871803,Treasure Island,1918,Joe Grant,actor,Undetermined child role,NaN
942632,Treasure Island,1918,Edwin Harley,actor,Prologue Player,NaN
3450730,Treasure Island,1918,Violet Radcliffe,actress,Long John Silver,3.0
1778878,Treasure Island,1918,Lloyd Perl,actor,Black Dog,4.0

In [14]:
p.tail()

                   title  year           name     type       character     n
2511526  Treasure Island  1999   Caveh Zahedi    actor          Harold   9.0
1698413  Treasure Island  1999  Nick Offerman    actor          Samuel   2.0
1426457  Treasure Island  1999    J.P. Manoux    actor  Officer Hughes  18.0
3340561  Treasure Island  1999  Suzy Nakamura  actress           Yo-Ji   5.0
319551   Treasure Island  1999   Bob Byington    actor          Thomas  12.0

### How many movies were made in the year 1950?

In [15]:
release[release["year"]==1950].year.value_counts()

1950    3052
Name: year, dtype: int64

### How many movies were made in the year 1960?

In [16]:
release[release["year"]==1960].year.value_counts()

1960    3134
Name: year, dtype: int64

### How many movies were made from 1950 through 1959?

In [17]:
r=release[release["year"]>1950 ]
rr=r[r["year"]<1959]

### In what years has a movie titled "Batman" been released?

In [18]:
title[title["title"]=="Batman"]

         title  year
39349   Batman  1943
240896  Batman  1989

### How many roles were there in the movie "Inception"?

In [19]:
c=cast[cast["title"]=="Inception"]
c["name"]

98153      Michael (III) August
149008             Peter Basham
183937             Tom Berenger
197877                 Ken Bhan
260128           Virgile Bramly
                   ...
3387147              Ellen Page
3444628          Nicole Pulliam
3473041      Lisa (II) Reynolds
3480170           Talulah Riley
3731263          Shannon Welles
Name: name, Length: 78, dtype: object

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [20]:
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [21]:
c=cast[cast["title"]=="Inception"]
c.isnull().sum()

title         0
year          0
name          0
type          0
character     0
n            27
dtype: int64

### But how many roles in the movie "Inception" did receive an "n" value?

In [23]:
c=cast[cast["title"]=="Inception"]
c.dropna()
c.isna().sum()
c.dropna(axis=0)
c.isna().sum()
c.n.count()

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [36]:
o=cast[cast["title"]=="North by Northwest"]
o.isna().sum()
o.dropna()
o.isna().sum()
o.dropna(axis=0,inplace=True)
o.sort_values("n")

C:\Users\bhuvaneswar\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,title,year,name,type,character,n
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [40]:
s=cast[cast["year"]==1972]
p=s[s["title"]=="Sleuth"]
s.dropna(axis=0)
p.sort_values("n")

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [41]:
s=cast[cast["year"]==2007]
p=s[s["title"]=="Sleuth"]
s.dropna(axis=0)
p.sort_values("n")

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [49]:
v=cast[cast["year"]==1921]
x=v[v['title']=="Hamlet"]
count=0
for i in x.name:
    count=count+1
print(count)

9

In [57]:
cast[]

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many roles were credited in Branaghs 1996 Hamlet?

In [66]:
v=cast[cast["year"]==1996]
v[v['title']=="Hamlet"]

,title,year,name,type,character,n
1731,Hamlet,1996,Riz Abbasi,actor,Attendant to Claudius,1.0
95861,Hamlet,1996,Richard Attenborough,actor,English Ambassador,2.0
158642,Hamlet,1996,Simon Russell Beale,actor,Second Gravedigger,37.0
214473,Hamlet,1996,David (V) Blair,actor,Attendant to Claudius,3.0
219554,Hamlet,1996,Brian Blessed,actor,Ghost of Hamlet's Father,4.0
250773,Hamlet,1996,Christopher Bowles,actor,Cadet in Play,NaN
260225,Hamlet,1996,Kenneth Branagh,actor,Hamlet,5.0
272749,Hamlet,1996,Richard Briers,actor,Polonius,6.0
294652,Hamlet,1996,Michael Bryant,actor,Priest,7.0
319501,Hamlet,1996,Peter Bygott,actor,Attendant to Claudius,8.0
344365,Hamlet,1996,Kenneth W Caravan,actor,Laertes Mob,NaN
500916,Hamlet,1996,Billy Crystal,actor,First Gravedigger,10.0
518572,Hamlet,1996,Charles Daish,actor,Stage Manager,11.0
576147,Hamlet,1996,G?rard Depardieu,actor,Reynaldo,13.0
598618,Hamlet,1996,Reece Dinsdale,actor,Guildenstern,14.0
604339,Hamlet,1996,Ken Dodd,actor,Yorick,15.0
656817,Hamlet,1996,Rob Edwards,actor,Lucianus,17.0
669232,Hamlet,1996,Jimmy Ellis,actor,Old Fortinbras,NaN
704270,Hamlet,1996,Nicholas Farrell,actor,Horatio,18.0
708468,Hamlet,1996,Ray Fearon,actor,Francisco,19.0
827066,Hamlet,1996,John Gielgud,actor,Priam,21.0
990819,Hamlet,1996,Charlton Heston,actor,Player King,23.0
1074691,Hamlet,1996,Ravil Isyanov,actor,Cornelius,24.0
1082161,Hamlet,1996,Derek Jacobi,actor,Claudius,25.0
1210509,Hamlet,1996,Jeffery Kissoon,actor,Fortinbras's Captain,27.0
1316617,Hamlet,1996,Jack Lemmon,actor,Marcellus,29.0
1400732,Hamlet,1996,Anthony Maddalena,actor,Elsinore Courtier,NaN
1417360,Hamlet,1996,Michael Maloney,actor,Laertes,31.0
1489191,Hamlet,1996,Ian McElhinney,actor,Barnardo,30.0
1549128,Hamlet,1996,John Mills,actor,Old Norway,33.0
1556082,Hamlet,1996,Jimi Mistry,actor,Sailor Two,34.0
1588218,Hamlet,1996,Frank (II) Morgan,actor,Pyrrhus,NaN
2040040,Hamlet,1996,Andrew Schofield,actor,Young Lord,38.0
2052796,Hamlet,1996,Orlando Seale,actor,Boatman,NaN
2067657,Hamlet,1996,Rufus Sewell,actor,Fortinbras,39.0
2151526,Hamlet,1996,Timothy Spall,actor,Rosencrantz,40.0
2154960,Hamlet,1996,John Spencer-Churchill,actor,Fortinbras's Captain,32.0
2221910,Hamlet,1996,Thomas Szekeres,actor,Young Hamlet,41.0
2259675,Hamlet,1996,Ben Thom,actor,First Player,42.0
2404091,Hamlet,1996,Don Warrington,actor,Voltimand,43.0
2453099,Hamlet,1996,Robin Williams,actor,Osric,45.0
2500066,Hamlet,1996,David Yip,actor,Sailor One,47.0
2508377,Hamlet,1996,Jimmy Yuill,actor,Alexander,NaN
2737885,Hamlet,1996,Julie Christie,actress,Gertrude,9.0
2814220,Hamlet,1996,Judi Dench,actress,Hecuba,12.0
2835947,Hamlet,1996,Angela Douglas,actress,Attendant to Gertrude,16.0
2940033,Hamlet,1996,Yvonne Gidden,actress,Doctor,20.0
2999610,Hamlet,1996,Rosemary Harris,actress,Player Queen,22.0
3119901,Hamlet,1996,Rowena King,actress,Attendant to Gertrude,26.0
3154270,Hamlet,1996,Sarah Lam,actress,Attendant to Gertrude,28.0
3451003,Hamlet,1996,Sian Radinger,actress,Prologue,35.0
3456114,Hamlet,1996,Melanie Ramsay,actress,Prostitute,NaN
3728751,Hamlet,1996,Perdita Weeks,actress,Second Player,44.0
3751232,Hamlet,1996,Kate Winslet,actress,Ophelia,46.0

### How many "Hamlet" roles have been listed in all film credits through history?

In [68]:
hel=cast[cast["title"]=="Hamlet"]
len(hel.name)

342

### How many people have played an "Ophelia"?

In [70]:
OP=cast[cast["character"]=="Ophelia"]
len(OP.name)

117

### How many people have played a role called "The Dude"?

In [72]:
de=cast[cast["character"]=="The Dude"]
len(de.name)

19

### How many people have played a role called "The Stranger"?

In [73]:
de=cast[cast["character"]=="The Stranger"]
len(de.name)

212

### How many roles has Sidney Poitier played throughout his career?

In [76]:
roles=cast[cast["name"]=="Sidney Poitier"]
len(roles.character)

43

### How many roles has Judi Dench played?

In [77]:
roles=cast[cast["name"]=="Judi Dench"]
len(roles.character)

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [85]:
car=cast[cast.name=="Cary Grant"]
car=car[car["year"]<=1940]
car=car[car.n==2]
car.sort_values("year")

,title,year,name,type,character,n
871418,Madame Butterfly,1932,Cary Grant,actor,Lieutenant B.F. Pinkerton,2.0
871454,The Woman Accused,1933,Cary Grant,actor,Jeffrey Baxter,2.0
871446,The Eagle and the Hawk,1933,Cary Grant,actor,Henry Crocker,2.0
871412,I'm No Angel,1933,Cary Grant,actor,Jack Clayton,2.0
871436,She Done Him Wrong,1933,Cary Grant,actor,Captain Cummings,2.0
871393,Born to Be Bad,1934,Cary Grant,actor,Malcolm Trevor,2.0
871455,Thirty Day Princess,1934,Cary Grant,actor,Porter Madison III,2.0
871440,Sylvia Scarlett,1935,Cary Grant,actor,Jimmy Monkley,2.0
871401,Enter Madame!,1935,Cary Grant,actor,Gerald Fitzgerald,2.0
871465,Wings in the Dark,1935,Cary Grant,actor,Ken Gordon,2.0
871463,Wedding Present,1936,Cary Grant,actor,Charlie Mason,2.0
871464,When You're in Love,1937,Cary Grant,actor,Jimmy Hudson,2.0
871443,The Awful Truth,1937,Cary Grant,actor,Jerry Warriner,2.0
871453,The Toast of New York,1937,Cary Grant,actor,Nick Boyd,2.0
871459,Topper,1937,Cary Grant,actor,George Kerby,2.0
871408,Holiday,1938,Cary Grant,actor,Johnny Case,2.0
871394,Bringing Up Baby,1938,Cary Grant,actor,David,2.0
871413,In Name Only,1939,Cary Grant,actor,Alec Walker,2.0
871423,My Favorite Wife,1940,Cary Grant,actor,Nick Arden,2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [87]:
car=cast[cast.name=="Cary Grant"]
car=car[car["year"]<=1940]
car=car[car.n==1]
car.sort_values("year")

,title,year,name,type,character,n
871409,Hot Saturday,1932,Cary Grant,actor,Romer Sheffield,1.0
871404,Gambling Ship,1933,Cary Grant,actor,Ace Corbin,1.0
871415,Kiss and Make-Up,1934,Cary Grant,actor,Dr. Maurice Lamar,1.0
871417,Ladies Should Listen,1934,Cary Grant,actor,Julian De Lussac,1.0
871449,The Last Outpost,1935,Cary Grant,actor,Michael Andrews,1.0
871391,Big Brown Eyes,1936,Cary Grant,actor,Danny Barr,1.0
871442,The Amazing Quest of Ernest Bliss,1936,Cary Grant,actor,Ernest Bliss,1.0
871406,Gunga Din,1939,Cary Grant,actor,Cutter,1.0
871431,Only Angels Have Wings,1939,Cary Grant,actor,Geoff Carter,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0

### How many roles were available for actors in the 1950s?

In [92]:
avil=cast[cast["year"]<=1950]
avill=avil[avil.type=="actor"]

In [93]:
len(avill.character)

406801

### How many roles were available for actresses in the 1950s?

In [94]:
avil=cast[cast["year"]<=1950]
avill=avil[avil.type=="actress"]

In [95]:
len(avill.character)

147326

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [98]:
ld=cast[cast.year<=1980]
ld=ld[ld.n==1]
len(ld.character)

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [100]:
ld=cast[cast.year<=1980]
ld=ld[ld.n!=1]
len(ld.character)

1117667

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [124]:
ld=cast[cast.year<=1980]
len(ld.n.isnull()==True)

1182807