In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
data=pd.read_csv("/content/general_data.csv")
data[data['Attrition']=="Yes"].BusinessTravel.value_counts()

Travel_Rarely        468
Travel_Frequently    207
Non-Travel            36
Name: BusinessTravel, dtype: int64

In [4]:
data

      Age Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0      51        No  ...                       0                    0
1      31       Yes  ...                       1                    4
2      32        No  ...                       0                    3
3      38        No  ...                       7                    5
4      32        No  ...                       0                    4
...   ...       ...  ...                     ...                  ...
4405   42        No  ...                       0                    2
4406   29        No  ...                       0                    2
4407   25        No  ...                       1                    2
4408   42        No  ...                       7                    8
4409   40        No  ...                       3                    9

[4410 rows x 24 columns]

#hypothesis1
**people who travel more has more atrition**

In [5]:
data[data['Attrition']=="Yes"].Department.value_counts()

Research & Development    453
Sales                     201
Human Resources            57
Name: Department, dtype: int64

#hypothesis 2
**THE Research & Development DEPARTMENT HAS MORE ATRITION AS THE COUNT IN THIS FIELD IS HIGH**

In [6]:
data[data['Attrition']=="Yes"].Gender.value_counts()

Male      441
Female    270
Name: Gender, dtype: int64

#hYPOTHESIS 3
** MALE PEOPLE ARE HAVING HIGH ATTRITION NUMBER AS THEY TRAVEL MOST **

In [7]:
data[data['Attrition']=="Yes"].DistanceFromHome.value_counts()

2     114
1      96
10     60
7      48
9      36
4      33
8      33
15     33
3      30
5      30
6      21
19     18
18     15
16     15
12     15
29     12
17     12
28     12
23     12
24      9
27      9
11      9
22      9
20      9
25      6
21      6
26      3
13      3
14      3
Name: DistanceFromHome, dtype: int64

#HYPOTHESIS 4
**DISTANCE ALSO PLACE A MAJOR ROLE IN HYPOTHESIS**

In [11]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [12]:
data[data['Attrition']=="Yes"].TotalWorkingYears.value_counts()

1.0     119
10.0     75
6.0      66
7.0      54
5.0      48
8.0      47
4.0      36
9.0      30
3.0      27
2.0      27
11.0     21
0.0      15
15.0     15
12.0     15
18.0     12
14.0     12
19.0      9
24.0      9
16.0      9
17.0      9
13.0      9
40.0      6
22.0      6
20.0      6
23.0      6
25.0      3
33.0      3
21.0      3
26.0      3
31.0      3
28.0      3
34.0      3
Name: TotalWorkingYears, dtype: int64

#HYPOTHESIS 5
**People with low experiance has more attrition**

In [13]:
data[data['Attrition']=="Yes"].PercentSalaryHike.value_counts()

13    102
12     90
11     90
14     87
15     63
17     45
19     42
18     39
22     30
16     30
21     27
20     27
25     15
23     15
24      9
Name: PercentSalaryHike, dtype: int64

#HYPOTHESIS 6
**people with low %hike in salary has more attrition so the hike in salaray has impact on attrition**

In [14]:
data[data['Attrition']=="Yes"].TrainingTimesLastYear.value_counts()

2    282
3    258
5     51
4     48
1     30
0     30
6     12
Name: TrainingTimesLastYear, dtype: int64

#HYPOTHESIS 7
*people with training period to 2-3 hrs has more attrition can this could be one of the cause*

In [17]:
data[data['Attrition']=="Yes"].MonthlyIncome.value_counts()

25590     6
55620     6
27430     6
28860     6
27410     6
         ..
76440     3
84630     3
107480    3
22740     3
30720     3
Name: MonthlyIncome, Length: 232, dtype: int64

In [18]:
data[data['Attrition']=="Yes"].EducationField.value_counts()

Life Sciences       303
Medical             225
Marketing            75
Technical Degree     45
Human Resources      33
Other                30
Name: EducationField, dtype: int64

#hypothesis 8
*people with education field as Lifesciences has more attrition*

In [19]:
data[data['Attrition']=="Yes"].MonthlyIncome.mean()

61682.61603375527

In [20]:
data["MonthlyIncome"].mean()

65029.31292517007

#hypothisis 9
*there is a high difference in the mean of over all and people having attrition in area of monthly income will it impact the chances of attrition*

In [26]:
data[data['Attrition']=="Yes"].Age.value_counts()

29    54
31    54
28    42
26    36
33    36
32    33
35    30
30    27
34    27
24    21
25    18
36    18
44    18
21    18
20    18
41    18
19    18
39    18
37    18
22    15
58    15
40    15
50    15
18    12
23    12
46    12
27     9
55     9
52     9
56     9
47     9
38     6
49     6
45     6
51     6
43     6
53     6
42     6
48     6
Name: Age, dtype: int64

In [25]:
data["Age"].mean()

36.923809523809524

In [27]:
data[data['Attrition']=="Yes"].Age.mean()

33.607594936708864

#hypothesis 10
*the mean different is high in two cases will the age plays major role in attrition

#